{% extends "base.html" %}
{% load static %}

{% block title %}categories{% endblock %}

{% block content %}
<main class="flex-fill">
<div class="c d-flex align-content-around flex-wrap">
        
        <header id="header">
                <h5><strong>Categories</strong></h5>
                <p>-</p>
                <p>I divided my projects between three groups</p>
                <ul class="categories-names">
                {% for c in categories %}
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}
                        <a href="{% url "portfolio:project_list" %}">/ &nbsp;&nbsp;  All</a>
                </ul>
        </header>
        <section class="categories">
                <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 left">
                                <div id="one">
                                        <a href="{{ backend.get_absolute_url }}"><img src="{{ backend.image.url }}" class="img-responsive fit-image"></a>
                                        <!-- <a href="{{ backend.get_absolute_url }}"><img src="{% static "img/backend.jpg" %}" class="img-responsive fit-image"></a> -->
                                </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 right">
                                <div id="two">
                                        <a href="{{ frontend.get_absolute_url }}"><img src="{{ frontend.image.url }}" class="img-responsive fit-image"></a>
                                        <!-- <a href="{{ backend.get_absolute_url }}"><img src="{% static "img/frontend.jpg" %}" class="img-responsive fit-image"></a> -->
                                </div>
                                <div id="three">
                                        <a href="{{ scraping.get_absolute_url }}"><img src="{{ scraping.image.url }}" class="img-responsive fit-image"></a>
                                        <!-- <a href="{% url "portfolio:project_list" %}"><img src="{% static "img/webscraping.jpg" %}" class="img-responsive fit-image"></a> -->
                                </div>
                        </div>
                </div>
        </section>
</div>
</main>
       

{% endblock %}