{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block content %}
    <div id="project-detail">

        {% for p in project %} <!-- 'project' is a paginator object -->

            <div id="text-detail">
                <h5><a href="{{ p.category.get_absolute_url }}">{{ p.category }}</a></h5> 
                <h2>{{ p.name|linebreaks }}</h2>
                <p {% if project.url == '' %}class="hidden"{% endif %}>web address: <a href="{{ p.url }}">{{ p.url }}</a></p>
                <p>source code: <a href="{{ p.repository }}">{{ p.repository}}</a></p>
                <p class="p-detail"></p>
                {{ p.description|linebreaks }}      
            </div>
            <div id="img-detail">
                <img src="{{ p.image.url }}" style="width:350px;height:230px;">
            </div>

        {% endfor %}
    </div>

    <!-- 'project' is a paginator object -->
    <div class="page mt-auto">
        <span class="page-number">
            {% if project.has_previous %}
                <a class="prev-last" href="?page={{ project.previous_page_number }}">&laquo; previous</a>
            {% endif %}
                
            <span>
                page {{ project.number }} || {{ project.paginator.num_pages }}
            </span>
                
            {% if project.has_next %}
                <a class="prev-last" href="?page={{ project.next_page_number }}">next &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

