{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Projects{% endif %}
{% endblock %}

{% block content %}

    <div id="projects">

        <div id="sidebar">
            <ul>
                <li><a id="invisible-up"></a></li>
                <li {% if not category %}class="selected"{% endif %}>
                    <a id="all" href="{% url "portfolio:project_list" %}">All</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}

                <li><a id="invisible-down"></a></li>
            </ul>
        </div>

        <div id="main">
            <h3>{% if category %}{{ category.name }}{% else %}All projects{% endif %}</h3>
            <p id="line"></p>
            <div class="row main">
                {% for project in projects %}
                <!-- <div class="columns col-sm-5 col-md-3 col-l-4 col-lg-3"> -->
                <div class="columns c-12 c-5 c-4 c-3">
                    <div class="item">
                        {% load thumbnail %}
                        {% thumbnail project.image "215x150" crop="center" as pim %}
                            <a href="{{ project.get_absolute_url }}">
                                <img src="{% if pim %}{{ pim.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a>
                            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                        {% endthumbnail %}
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>

    </div>

{% endblock %}