{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Projects{% endif %}
{% endblock %}

{% block content %}

    <div id="projects">

        <div id="sidebar">
            <ul>
                <li><a id="invisible-up"></a></li>
                <li {% if not category %}class="selected"{% endif %}>
                    <a id="all" href="{% url "portfolio:project_list" %}">All</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}

                <li><a id="invisible-down"></a></li>
            </ul>
        </div>

        <div id="main">
            <h3>{% if category %}{{ category.name }}{% else %}All projects{% endif %}</h3>
            <p id="line"></p>
            <div class="row main">
                {% for project in page_obj %}
                <div class="columns c-12 c-5 c-4 c-3">
                    <div class="item">
             
                        <a href="{{ project.get_absolute_url }}">
                            <img src="{{ project.image.url }}" style="width:215px;height:150px;">
                        </a>
                        
                        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>


    <div class="page mt-auto">
        <span class="page-number">
            {% if page_obj.has_previous %}
                <a class="prev-last" href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
            {% endif %}
            
            <span>
                page {{ page_obj.number }} || {{ page_obj.paginator.num_pages }}
            </span>
            
            {% if page_obj.has_next %}
                <a class="prev-last" href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
            {% endif %}
        </span>
    </div>



{% endblock %}